nav {
    border: .4rem inset black;
    padding: 1rem;
    color: black;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.li {
    border: .1rem outset black;
    padding: .5rem;
    background: linear-gradient(90deg, white 50%, red 50%);
    box-shadow: inset 0 0 .4rem black;
    filter: drop-shadow(0 0 .2rem black);
    transition: all linear .5s;
    max-height: 40px;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    justify-content: center;
}

.li:hover {
    transform: scale(1.05) translateY(-.2rem);
    filter: hue-rotate(200deg);
}

.span {
    background: white;
    outline: .1rem solid black;
    border-radius: 0;
}

.span:hover {
    filter: invert(100%);
}