nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #5880dc;;
    color: white;
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 100%;
    padding: 0 3rem;
    box-sizing: border-box; /* Include padding and borders in width */
}

main {
    margin-top: 60px; /* Adjust to the height of the navbar */
}

nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a.active {
    background-color: rgb(59, 137, 168);
}

nav ul li a:not(.active):hover {
    background-color: #172554;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 3.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    cursor: pointer;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 1.5rem;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }

    nav .menu {
        display: flex;
        right: 1.5rem;
    }
}
