main {
    max-width: 800px;
    margin: 0 auto; /* Centering the container on the page */
    padding: 15px;
    text-align: left;
}

h1 {
    text-align: left;
    color: grey; 
}

hr {
    margin: 2px 0;
    border: none;
    border-top: 2px solid #eee;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
}

li {
    margin-bottom: 20px;
    padding-left: 10px;
}

article {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    transition: box-shadow 0.3s;
}

article:hover {
    margin: 0;
    color: #555;
    font-size: 1.2em;
}

header h3 {
    margin: 0;
    color: purple;
    font-size: 1em; 
}

p {
    margin: 10px 0 0;
    color: black;
    font-size: 0.9em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover header h3 {
    color: black;
}

a:hover p {
    color: pink;
}
