.div {
    background: #bbb8;
}

article {
    box-shadow: .3rem .2rem 1rem black;
    padding: 1rem;
    background: conic-gradient(from 45deg at 72% 120%, gray, beige);
}

article:hover {
    filter: brightness(110%);
    box-shadow: 0 0 4rem black;
    outline: .3rem solid white;
}