.reagent-details {
    max-width: 800px;
    margin: 0 auto; /* Centering the container */
    padding: 15px;
    text-align: left;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styles for reagent details */
.reagent-header {
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.reagent-name {
    font-size: 2em;
    color: grey;
    margin-bottom: 10px;
}

.reagent-category {
    color: grey; 
}

.reagent-brand,
.reagent-quantity {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 5px;
}

.reagent-expiration {
    color: #888;
    font-size: 0.9em;
}

.reagent-author p {
    margin: 10px 0 0;
    color: black;
    font-size: 0.9em;
}

/* Link styles */
.edit-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease;
    margin-right: 10px;
}

.edit-link:hover {
    color: #0056b3;
}

/* Button styles */
.delete-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 0.9em;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #0056b3;
}

/* Comment section styles */
.reagent-comments-section {
    margin-top: 20px;
}

.reagent-comment {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.reagent-comment:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.comment-header p {
    font-size: 0.9em;
    color: #666;
}

.comment-text {
    font-size: 1em;
    color: #444;
}
