@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    border-radius: 1rem;
    font-weight: bold;
    font-family: "Roboto Mono", sans-serif;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

#root {
    outline: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

body {
    border: .4rem outset #818181;
    border-radius: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

main {
    background: white;
    margin: 1rem;
    min-width: 90dvw;
}

a {
    color: black;
    text-decoration: none;
    padding: 0.5rem 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 70dvw;
    margin: 1dvh 0;
    padding: 0;
    font-size: .8rem;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
    border: .5rem inset silver;
    padding: 1rem;
}

form {
    display: flex;
    flex-flow: column;
    align-items: center;
}

label {
    color: black;
}

label::after {
    content: ':';
}

button {
    margin: .5rem 0;
    background: #15b046;
    padding: 1rem;
    color: black;
    border: .15rem outset black;
    width: 6rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:enabled:hover {
    filter: brightness(120%);
    cursor: pointer;
    outline: .2rem solid black;
}

button:disabled {
    background: gray;
}

.button-container {
    display: flex;
    justify-content: center;
    align-self: center;
}

.button-container> :first-child {
    height: 3.5rem;
    margin: 1rem;
}

div,
p {
    border-radius: 5px;
    padding: .5rem;
    text-align: center;
    outline: .15rem outset black;
}

p {
    color: black;
    margin: 1rem;
    background: #bbb8;
}

.sign > form > div, .sign > p {
    outline: none;
}